@model CadastroAnuncio.Models.CadastroAnuncioModel

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Deseja Realmente Apagar o Anúncio?</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-right">
            <div class="btn btn-default">
                @Html.ActionLink("Voltar", "Index")
            </div>
            <input type="submit" value="Apagar" class="btn btn-danger" />
        </div>
    }
</div>
