
@{
    ViewBag.Title = "Index";
}

<h2>Anúncios</h2>

<div class="row">
    <div class="text-right">
        <div class="btn btn-default">
            @Html.ActionLink("Gerar Relatório", "Relatorio", new { @class = "btn btn-primary" })

            

        </div>
        <div class="btn btn-default">
            @Html.ActionLink("Novo cadastro", "Create")
        </div>

    </div>
</div>


<div id="listagemDeAnuncios"></div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(configurarController);
        function configurarController() {
            $("#listagemDeAnuncios").load("@Url.Action("Listar")");
        }
        var pagina = 1;

        function paginar(valor) {
                var paginaNova = pagina + valor;
                $("#listagemDeAnuncios").load("@Url.Action("Listar")", { pagina: paginaNova });
                pagina = paginaNova;
        }
    </script>
}



